
<div class="container">
  <h2>Question</h2>
  <div class="border">
    <p class="lead"> <%= @question %> </p>
    <p class="fst-italic">- You</p>
  </div>

  <h2>Answer</h2>
  <div class="border ">
    <p class="lead text-primary"> <%= @answer %> </p>
    <p class="fst-italic">- Stupid Coach</p>
  </div>

  <a href='/ask' class="btn btn-primary mt-3"> Back to question </a>

</div>


<%# <%= link_to "Back to question", ask_path %>
